.dub
docs.json
__dummy.html
*.o
*.obj
.lumenconfig
*.cmake
CMakeLists.txt
/hunt
.directory
*.kdev4
dub.selections.json
.idea
/hunt.iml
__test__library__
core
*.a
*.so
*.kate-swp
dub.userprefs
*.lib
*.exe
.DS_Store
.project
libhunt.a
hunt-test-default
.settings
.vscode
test.config
tmp.conf
tmp.saveas.conf
