# Visual Studio Code
#.vscode/

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.*.json
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# Others
/java
hunt-framework-test-*
temp.txt
